* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page--circles {
    background-color: #FAA307;
}

.container--squares {
    flex-flow: column wrap;
    max-height: 480px;
}

.box__circles {
    width: 273px;
    height: 220px;
    background-color: #03071E;
    flex-wrap: wrap;
}

.box__circles--alt-colour {
    background-color: #6A040F;
}

.circle {
    width: 50px;
    height: 50px;
    background: #748CAB;
    border-radius: 50%;
    margin: 10px;
}

.box__circles--one {
    align-content: flex-start;
}

.box__circles--two {
    justify-content: space-around;
    align-content: space-around;
}

.box__circles--three {
    flex-flow: row-reverse wrap-reverse;
    align-content: flex-start
}

.box__circles--four {
    justify-content: center;
    align-content: center;
}

.box__circles--five {
    justify-content: space-between;
    align-content: space-between;
}

@media screen and (max-width: 900px) {
    .container--squares {
        max-height: 750px;
    }
}

@media screen and (max-width: 600px) {
    .container--squares {
        max-height: none;
    }
}