@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}

.page--one {
    background-color: #370617;
}

.container {
    display: flex;
}

.container {
    flex-wrap:  wrap;
    justify-content: center;
    align-content: center;
}

.box {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.box--squares {
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    border-radius: 8px;
}

.square {
    display: flex;
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    border-radius: 4px;
    margin: 10px;
    justify-content: center;
}

.box__one {
    align-items: flex-end;
}

.box__two {
    justify-content: center;
}

.box__three {
    justify-content: flex-end;
    align-items: center;
}

.box__four {
    justify-content: space-between;
    align-items: flex-start;
}

.box__five {
    position: relative;
    justify-content: space-evenly;
}

.box__six {
    justify-content: center;
    align-items: center;
}

.box__four--square-three {
    align-self: flex-end;
}

.box__five--box-overlay {
    position: absolute;
    background-color: transparent;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
    padding: 0 10px 0 10px;
}

.box__five--square-two {
    min-height: 64px;
    align-self: center;
    margin-bottom: 20px;
}

.box__six--square-two {
    flex: .673;
}

.square__text-holder {
    background-color: transparent;
    align-items: center;
}

.square__text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
}
